/* ------- Topo, tópicos ------- */
.topicos{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 10%;
    text-decoration: none;
    color: aliceblue;
}

.topicos div {
    text-align: left;
    color: rgb(65, 122, 145);
    font-size: 100%;
}

/* ------- Tabuleiros ------- */
.impar img{
  width: 400px;
  margin-right: 10%;
  margin-left: 5%;
}
.par img{
  width: 400px;
  margin-left: 10%;
}

/* ------- Textos ------- */

/*p, modificáveis em style.css*/

.par p{
  width: 400px;
  margin-right: 10%;
}

/* ------- Organização de textos/tabuleiros ------- */

.impar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.par{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

